html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
     height: 60px;
     background-color: #333;
}

.title {
    font-size: 25px;
    float: left;
    display: flex;
    color: #fff;
    padding: 15px;
}

header > ul {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    float: right;
}

header > ul > li > a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

header > ul > li > a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}

.line {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.products {
    margin-top: 30px;
    margin-bottom: 30px;
}

.price {
    bottom: 0;
}

.right {
    float: right;
}

.left {
    float: left;
}

img {
    height: 300px;
    width: 300px;
}
